.form__input {
    padding-top: .4em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    align-content: justify;
}

.form__input__label {
    font-weight: bold;
    text-align: left;
    width: 80px;
}

.form__input__field {
    background-color: white;
    border: .8px solid black;
    border-radius: .2em;
    color: black;
    margin-bottom: 20px; 
    margin-left: 20px;
    padding: 5px;
    width: 50%;
    height:50px;
    overflow: scroll;
}

.big__form__input__field {
    background-color: white;
    border: .8px solid black;
    border-radius: .2em;
    color: black;
    margin-bottom: 20px; 
    margin-left: 20px;
    padding: 5px;
    width: 50%;
    height:50px;
}

.big__btns {
    text-align: center;
    padding-top: .5em;
  }

.form__input__crud__btn {
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

  #big__button {
    background-color: white;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    box-shadow: 3px 3px 4px darkgray;
    color: maroon;
    justify-content: center;
    font-family: 'Audiowide', cursive;
    padding-top: .5em;
    width: auto;
  }

    
  #big__btn:hover {
    background-color: white;
    box-shadow: 5px 4px 5px darkgray;
    color: maroon;
    justify-content: center;
    font-family: 'Audiowide', cursive;
    width: auto;
  }
  
  #big__btn:focus {
    background-color: white;
    box-shadow: 5px 5px 10px black;
    justify-content: center;
    font-family: 'Audiowide', cursive;
    color: maroon;
    width: auto;
  }


