.post__detail__link {
    text-decoration: none;
  }

.post__detail__link:hover {
    color: black !important;
  }

.forumpost__header {
    display: flex;
    flex-wrap: wrap;
}

#header__title:hover {
    border-bottom: 2px solid black;
    color: maroon !important;
    height: auto;
    width: 700px;
  }
  
  #header__title:focus {
    border-bottom: 2px solid black;
    height: auto;
    width: 700px;
  }

.model {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    padding-right: .7em;
}


.details__spacer {
    background-color: black;
    width: auto;
    height: 8px;
    box-shadow: 3px 3px 4px darkgray;
}

.details__comment__spacer {
    width:190px;
    height: 7px;
    background-color: black;
}

.date__space {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    padding-right: .7em;
}