.forumPost__card {
    padding-left: .2em;
    padding-bottom: .4em;
    padding-top: .3em;
}


/* .prev__wrap {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}  */

.card__grow { 
    transition: all .09s ease-in-out; 
    }

.card__grow:hover { 
    transform: scale(1.011); 
    }

.post__title__spacer {
    width: 100%;
    height: 4px;
    background-color: black;
}

.car__details {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

.type__model__spacer {
    display: flex;
    width: 100px;
    justify-content: space-evenly;
}

.model__date__spacer {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    padding-right: .7em;
}


.postdetails__buttons {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-content: flex-end;
    margin-left: auto;
    margin-right: 0;
}

.delete__btns {
    padding-top: .09em;
}

  
.delete__btn {
    padding: .2em;
    background-color: white;
    color: maroon !important;
    font-family: 'Audiowide', cursive;
    padding-top: .09em;
    height: auto;
    width: auto;
  }
  
.delete__btn:hover {
    background-color: white;
    border-bottom: 2px solid black;
    color: maroon;
    font-family: 'Audiowide', cursive;
    color: maroon !important;
    height: auto;
    width: auto;
  }
  
.delete__btn:focus {
    background-color: white;
    border-bottom: 2px solid black;
    font-family: 'Audiowide', cursive;
    color: maroon;
    height: auto;
    width: auto;
  }


.edit__btns {
    padding-top: .09em;
}

  
  #edit__btn {
    padding: .2em;
    background-color: white;
    color: maroon;
    font-family: 'Audiowide', cursive;
    padding-top: .09em;
    height: auto;
    width: auto;
  }
  
  #edit__btn:hover {
    background-color: white;
    border-bottom: 2px solid black;
    color: maroon;
    font-family: 'Audiowide', cursive;
    color: maroon !important;
    height: auto;
    width: auto;
  }
  
  #edit__btn:focus {
    background-color: white;
    border-bottom: 2px solid black;
    font-family: 'Audiowide', cursive;
    color: maroon;
    height: auto;
    width: auto;
  }