.page__title {
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: maroon;
    padding: .5em;
  }

  .page__logo {
    height: 120px;
    width: 240px;
    background-color: transparent;
  }

