.page__title {
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: maroon;
    padding: .5em;
  }

  .page__logo {
    height: 120px;
    width: 240px;
    background-color: transparent;
  }


 /* SPACERS */

.header__spacer {
      background-color: black;
      width: auto;
      height:15px;
      box-shadow: 5px 5px 10px darkgray;
      opacity: 85%;
  }

.spacer {
    background-color: black;
    width: auto;
    height: 17px;
    box-shadow: 3px 3px 4px darkgray;
}

/* ARTCILES STYLING */

.article__box {
    width: auto;
    height: 220px;
    background-color: silver;
    opacity: 70%;
}

.featured__articles {
      padding-top: 3em;
  }

.featured__header {
    font-family: 'Audiowide', cursive;
  }


.articles__feature__spacer{
    width:220px;
    height: 8px;
    background-color: black;
}

.grow { 
    transition: all .09s ease-in-out; 
    }

.grow:hover { 
    transform: scale(1.1); 
    }
