* {
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: maroon;
  }
  
  
  .page__title {
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: maroon;
  }

  .site__logo {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  
  a:visited {
    color: #050533;
  }
  
  a:hover {
    font-weight: bold;
  }
  
  strong {
    font-weight: bold;
  }
