ul {
    text-align: center;
}

.navbar {
    background-color: black !important;
}

.navbar__background {
    background-color: black;
}

.nav-link {
    color: white !important;
}

.nav__logo {
    height: 90px;
    width: 240px;
    margin-right: 75px;
    background-color: transparent;
}

.nav-item, .menu-item {
    color: white !important;
    background-color: black !important;
    border-bottom: 1px solid white !important;
    border-radius: none;
    height: 54.5px;
    padding-top: 4.5px;
    padding-right: 1em;
    font-family: 'Audiowide', cursive;
    align-content: space-between;
}
 

.menu, .drop-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white !important;
    border-bottom: 1px solid white !important;
    background-color: black;
    height: 50px;
}

.menu-item {
    display: inline-block;
    background-color: black;
    position: relative;
}

.menu-item a {
    text-decoration: none;
    padding: 6px 10px;
    color: black;
    display: block;
}

.drop-menu {
    display: none;
    position: absolute;
    background-color: black;
    height:50px;
    min-width: 110px;
    z-index: 9999;
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    height: 140px;
    overflow: scroll;
}

.drop-menu-item {
    width: 100%;
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: .5px solid black;
}

.drop-menu-item:hover {
    background-color: white;
    color: black;
}

.drop-menu-item a {
    color: black;
}

.menu-item:hover .drop-menu {
    display: block;
}
  

.navbar__logout {
    line-height: 35px;
}

ul li:nth-child(10),
.navbar__span {
    background-color: black !important;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}