.container--login {
    height: 702px;
    background-color: black !important;
}



.login__title {
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: maroon;
    padding: .5em;
}

.sides {
    border-top: 10px solid black;
    border-left: 20em solid black;
    border-right: 20em solid black;
    height: 250px;
}

.white--radius {
    background-color: white;
    border: 6px solid white;
    border-radius: 1.5em;
    height: 265px;
}


.home__spacer {
    background-color: black;
      width: auto;
      height:15px;
      box-shadow: 5px 5px 10px darkgray;
  }



  .sign__in {
      padding-top: 1em;
  }

  .emailCont {
    width: 700px;
    padding-left: 3em;

  }

  .email {
      width: 400px;
  }

.submit {
    padding-top: 1em;
    padding-left: 20em;
}

  .link--register {
      padding-top: .5em;
      padding-left: 3em;
  }
  

.speed__container {
    width: auto;
    height: 8em;
    background-color: black;
}

  .ag-format-container {
    width: 1142px;
    margin: 0 auto;
    padding-left: 23.5em;
    padding-top: .5em;
    background: black;
  }
  
  body {
    background: #2a2a2a;
  }


  .ag-speedometer {
    height: 8.1875em;
    width: 24.25em;
    background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/speedometer/images/speedometer.png) 100% 100% no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  
    position: relative;
  }

  .ag-speedometer::after {
    content: "";
    position: absolute;
    top: 61%;
    left: 42%;
    width: 4.25em;
    height: .1875em;
    background: #FFF;
  
    -webkit-box-shadow: inset 0 0 .0625em .0625em #F00, 0 0 .3125em .125em #F00;
    -moz-box-shadow: inset 0 0 .0625em .0625em #F00, 0 0 .3125em .125em #F00;
    box-shadow: inset 0 0 .0625em .0625em #F00, 0 0 .3125em .125em #F00;
  
    -webkit-transform: translate(-50%, -50%) rotate(-55deg);
  
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
  
    -webkit-animation: an-speed-arrow 30s ease-in-out infinite;
    -moz-animation: an-speed-arrow 30s ease-in-out infinite;
    -o-animation: an-speed-arrow 30s ease-in-out infinite;
    animation: an-speed-arrow 30s ease-in-out infinite;
  }
  
  @-webkit-keyframes an-speed-arrow {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(-55deg);
      transform: translate(-50%, -50%) rotate(-55deg);
    }
    10% {
      -webkit-transform: translate(-50%, -50%) rotate(-25deg);
      transform: translate(-50%, -50%) rotate(-25deg);
    }
    20% {
      -webkit-transform: translate(-50%, -50%) rotate(22deg);
      transform: translate(-50%, -50%) rotate(22deg);
    }
    30% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    40% {
      -webkit-transform: translate(-50%, -50%) rotate(70deg);
      transform: translate(-50%, -50%) rotate(70deg);
    }
    50% {
      -webkit-transform: translate(-50%, -50%) rotate(60deg);
      transform: translate(-50%, -50%) rotate(60deg);
    }
    60% {
      -webkit-transform: translate(-50%, -50%) rotate(120deg);
      transform: translate(-50%, -50%) rotate(120deg);
    }
    60% {
      -webkit-transform: translate(-50%, -50%) rotate(110deg);
      transform: translate(-50%, -50%) rotate(110deg);
    }
    70% {
      -webkit-transform: translate(-50%, -50%) rotate(180deg);
      transform: translate(-50%, -50%) rotate(180deg);
    }
    80% {
      -webkit-transform: translate(-50%, -50%) rotate(210deg);
      transform: translate(-50%, -50%) rotate(210deg);
    }
  }
  @-moz-keyframes an-speed-arrow {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(-55deg);
      -moz-transform: translate(-50%, -50%) rotate(-55deg);
      transform: translate(-50%, -50%) rotate(-55deg);
    }
    10% {
      -webkit-transform: translate(-50%, -50%) rotate(-25deg);
      -moz-transform: translate(-50%, -50%) rotate(-25deg);
      transform: translate(-50%, -50%) rotate(-25deg);
    }
    20% {
      -webkit-transform: translate(-50%, -50%) rotate(22deg);
      -moz-transform: translate(-50%, -50%) rotate(22deg);
      transform: translate(-50%, -50%) rotate(22deg);
    }
    30% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -moz-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    40% {
      -webkit-transform: translate(-50%, -50%) rotate(70deg);
      -moz-transform: translate(-50%, -50%) rotate(70deg);
      transform: translate(-50%, -50%) rotate(70deg);
    }
    50% {
      -webkit-transform: translate(-50%, -50%) rotate(60deg);
      -moz-transform: translate(-50%, -50%) rotate(60deg);
      transform: translate(-50%, -50%) rotate(60deg);
    }
    60% {
      -webkit-transform: translate(-50%, -50%) rotate(120deg);
      -moz-transform: translate(-50%, -50%) rotate(120deg);
      transform: translate(-50%, -50%) rotate(120deg);
    }
    60% {
      -webkit-transform: translate(-50%, -50%) rotate(110deg);
      -moz-transform: translate(-50%, -50%) rotate(110deg);
      transform: translate(-50%, -50%) rotate(110deg);
    }
    70% {
      -webkit-transform: translate(-50%, -50%) rotate(180deg);
      -moz-transform: translate(-50%, -50%) rotate(180deg);
      transform: translate(-50%, -50%) rotate(180deg);
    }
    80% {
      -webkit-transform: translate(-50%, -50%) rotate(210deg);
      -moz-transform: translate(-50%, -50%) rotate(210deg);
      transform: translate(-50%, -50%) rotate(210deg);
    }
  }
  @-o-keyframes an-speed-arrow {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(-55deg);
      -o-transform: translate(-50%, -50%) rotate(-55deg);
      transform: translate(-50%, -50%) rotate(-55deg);
    }
    10% {
      -webkit-transform: translate(-50%, -50%) rotate(-25deg);
      -o-transform: translate(-50%, -50%) rotate(-25deg);
      transform: translate(-50%, -50%) rotate(-25deg);
    }
    20% {
      -webkit-transform: translate(-50%, -50%) rotate(22deg);
      -o-transform: translate(-50%, -50%) rotate(22deg);
      transform: translate(-50%, -50%) rotate(22deg);
    }
    30% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -o-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    40% {
      -webkit-transform: translate(-50%, -50%) rotate(70deg);
      -o-transform: translate(-50%, -50%) rotate(70deg);
      transform: translate(-50%, -50%) rotate(70deg);
    }
    50% {
      -webkit-transform: translate(-50%, -50%) rotate(60deg);
      -o-transform: translate(-50%, -50%) rotate(60deg);
      transform: translate(-50%, -50%) rotate(60deg);
    }
    60% {
      -webkit-transform: translate(-50%, -50%) rotate(120deg);
      -o-transform: translate(-50%, -50%) rotate(120deg);
      transform: translate(-50%, -50%) rotate(120deg);
    }
    60% {
      -webkit-transform: translate(-50%, -50%) rotate(110deg);
      -o-transform: translate(-50%, -50%) rotate(110deg);
      transform: translate(-50%, -50%) rotate(110deg);
    }
    70% {
      -webkit-transform: translate(-50%, -50%) rotate(180deg);
      -o-transform: translate(-50%, -50%) rotate(180deg);
      transform: translate(-50%, -50%) rotate(180deg);
    }
    80% {
      -webkit-transform: translate(-50%, -50%) rotate(210deg);
      -o-transform: translate(-50%, -50%) rotate(210deg);
      transform: translate(-50%, -50%) rotate(210deg);
    }
  }
  @keyframes an-speed-arrow {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(-55deg);
      -moz-transform: translate(-50%, -50%) rotate(-55deg);
      -o-transform: translate(-50%, -50%) rotate(-55deg);
      transform: translate(-50%, -50%) rotate(-55deg);
    }
    10% {
      -webkit-transform: translate(-50%, -50%) rotate(-25deg);
      -moz-transform: translate(-50%, -50%) rotate(-25deg);
      -o-transform: translate(-50%, -50%) rotate(-25deg);
      transform: translate(-50%, -50%) rotate(-25deg);
    }
    20% {
      -webkit-transform: translate(-50%, -50%) rotate(22deg);
      -moz-transform: translate(-50%, -50%) rotate(22deg);
      -o-transform: translate(-50%, -50%) rotate(22deg);
      transform: translate(-50%, -50%) rotate(22deg);
    }
    30% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -moz-transform: translate(-50%, -50%) rotate(0deg);
      -o-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    40% {
      -webkit-transform: translate(-50%, -50%) rotate(70deg);
      -moz-transform: translate(-50%, -50%) rotate(70deg);
      -o-transform: translate(-50%, -50%) rotate(70deg);
      transform: translate(-50%, -50%) rotate(70deg);
    }
    50% {
      -webkit-transform: translate(-50%, -50%) rotate(60deg);
      -moz-transform: translate(-50%, -50%) rotate(60deg);
      -o-transform: translate(-50%, -50%) rotate(60deg);
      transform: translate(-50%, -50%) rotate(60deg);
    }
    60% {
      -webkit-transform: translate(-50%, -50%) rotate(120deg);
      -moz-transform: translate(-50%, -50%) rotate(120deg);
      -o-transform: translate(-50%, -50%) rotate(120deg);
      transform: translate(-50%, -50%) rotate(120deg);
    }
    60% {
      -webkit-transform: translate(-50%, -50%) rotate(110deg);
      -moz-transform: translate(-50%, -50%) rotate(110deg);
      -o-transform: translate(-50%, -50%) rotate(110deg);
      transform: translate(-50%, -50%) rotate(110deg);
    }
    70% {
      -webkit-transform: translate(-50%, -50%) rotate(180deg);
      -moz-transform: translate(-50%, -50%) rotate(180deg);
      -o-transform: translate(-50%, -50%) rotate(180deg);
      transform: translate(-50%, -50%) rotate(180deg);
    }
    80% {
      -webkit-transform: translate(-50%, -50%) rotate(210deg);
      -moz-transform: translate(-50%, -50%) rotate(210deg);
      -o-transform: translate(-50%, -50%) rotate(210deg);
      transform: translate(-50%, -50%) rotate(210deg);
    }
  }
  
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  
  @media only screen and (max-width: 639px) {
  
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }